#main {
    margin-top: 50px;
}
.heading{
    color: white;
    text-align: center;
}
hr{
    color: whitesmoke;
}
.certifications {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.card {
    background-color: rgba(255, 255, 255, 0.856);
    height: 420px;
    width: 250px;
    margin: 10px;
    box-shadow: 2px 2px 15px greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
    box-shadow: 2px 2px 15px rgb(255, 174, 0);
}

.card-img-top {
    height: 200px;
     
    object-fit:fill; 
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pro_but {
    width: 150px;
    height: 40px;
    border: none;

    font-weight: bold;
    padding: 10px;
    font-size: small;
    color: black;
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
    background-image: linear-gradient(to right, #05ff65, #e5ff00, #ff0000, #ff7300);
    background-size: 300% 100%;
    transition: all 0.2s ease-in-out;
    display: block;
    margin: 0 auto;
}


.pro_but:hover {
    background-position: 100% 0;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(83, 176, 57, 0.75);
}
/* .card-text{
    font-size: small;
} */