#welcome{
    margin-top: 30px;
}
.hello, .obj{
    margin: 5px;
    color: white;
}
.name{
    color: #0dff05;
    margin: 5px;
}
.img_profile{
    height: 200px;
    width: 200px;
    margin: 20px;
    box-shadow: 10px 10px 50px greenyellow;
    border-radius: 100px;
    transition: all 0.6s ease-in-out;
}
.img_profile:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 15px rgb(255, 174, 0);
}
.btn_con{
    border-style: none;
    margin: 10px;
    padding: 10px;
    font-weight: bolder;
    font-size:large;
    color: black;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    background-image: linear-gradient(to right, #05ff65, #e5ff00, #ff0000, #ff7300);
    background-size: 300% 100%;
    transition: all 0.2s ease-in-out;
}

.btn_con:hover {
background-position: 100% 0;
color: white;
transform: scale(1.1);
box-shadow: 0 4px 15px rgba(83, 176, 57, 0.75);
}
.desc{
    color: white;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}
.obj_desc{
    margin: 5px;
    color: white;
    text-align: justify;
    margin: 20px;
    font-size: large;
}
.desc_head{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
    /* text-decoration: underline white; */
}
hr{
    color: whitesmoke;
}


