#main {
    margin-top: 50px;
}
.heading{
    color: white;
    text-align: center;
}
hr{
    color: whitesmoke;
}
.projects {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    60% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.pro {
    background-color: rgba(255, 255, 255, 0.856);
    min-height: 100px;
    width: 250px;
    box-shadow: 2px 2px 15px greenyellow;
    display: flex;
    flex-direction: column;
    margin: 10px;
    animation: fadeInBounce 1.8s ease-out forwards;
}

.pro:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 15px rgb(255, 174, 0);
}

.card-body{
    height: 200px;
    box-sizing: border-box;
}
.card-text{
    text-align: justify;
}
.card-img-top {
    min-height: 150px;
    object-fit:fill; 
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title{
    font-weight: bold;
    font-size:medium;
}
.desc_title{
    font-weight: 600;
    font-size:medium;
}

.pro_but {
    width: 150px;
    height: 40px;
    padding: 10px;
    align-self: center;
    border: none;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 10px;
    font-size: medium;
    color: black;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    background-image: linear-gradient(to right, #05ff65, #e5ff00, #ff0000, #ff7300);
    background-size: 300% 100%;
    transition: all 0.2s ease-in-out;
}

.pro_but:hover {
    background-position: 100% 0;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(83, 176, 57, 0.75);
}


